.singlePost{
    flex: 4;   
}

.singlePost__wrapper{
    padding: 100px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.singlePost__img{
    width: 50%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    align-self: center;
}

.singlePost__title {
    text-align: center;
    font-family: 'Lora', serif;
    margin: 10px;
    font-size: 28px;
}

.singlePost__title__input{
    text-align: center;
    font-family: 'Lora', serif;
    margin: 10px;
    font-size: 28px;
    border: none;
    color: gray;
    border-bottom:1px solid lightgray ;
}

.singlePost__title__input:focus{
    outline: 1px solid #343a40;
    border-radius: 10px;
}

.singlePost__edit{
    float: right;
    font-size: 16px;
}

.singlePost__icon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePost__icon:first-child{
    color: teal;
}

.singlePost__icon:last-child{
    color: tomato;
}

.singlePost__info{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #343a40;
    font-family: 'Varela Round', sans-serif;
}

.singlePost__desc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePost__desc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePost__desc__input{
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePost__desc__input:focus{
    outline: 1px solid #343a40 ;
    border-radius: 10px;
}

.singlePost__edit__button{
    border: none;
    background-color: teal;
    padding: 5px;
    width: 100px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}